* {
  margin: 0;
  padding: 0;
  /* background-color: bisque; */
}
.heading {
  text-align: center;
}
nav {
  background-color: black;
  display: flex;
  justify-content: right;
}
nav a {
  color: white;
  text-decoration: none;
  padding: 0px 50px;
  margin: 5px 10px;
  align-content: center;
}
.pfp {
  height: 30px;
  margin: 5px;
}
.welcome {
  text-align: center;
  margin-top: 10px;
  width: 50%;
  margin: auto;
  justify-content: center;
  border-radius: 10px;
  padding: 10px;
  margin-top: 50px;
  background: linear-gradient(135deg, #00c9ff, #92fe9d);
}
.subheading {
  text-align: center;
  margin: 20px 0px;
}
nav a:hover {
  color: #00ffcc;
  text-shadow: 0 0 5px #00ffcc;
}
